@keyframes expandDiv {
  from {
    height: 100px;
  }
  to {
    height: 375px;
  }
}

@keyframes contractDiv {
  from {
    height: 375px;
  }
  to {
    height: 100px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes slideDown {
  from {
    top: -500px;
    z-index: -1;
  }
  to {
    top: 100;
    z-index: 3;
  }
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  width: 100%;
  background-color: rgb(0, 140, 255);
  & > h1 {
    margin: 0 20px;
    letter-spacing: 0.1ch;
    color: white;
  }

  img {
    height: 30px;
    margin-right: 15px;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: transform 0.25s;
    }
  }
}

.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%;
  }

  h2 {
    margin: 15px 0;
  }
}

.target {
  padding: 0 10px 20px 10px;
  width: 100%;
  border-radius: 5px;
  margin: 5px 0;
  overflow: hidden;
  display: flex;
  // flex-wrap: nowrap;
  flex-direction: column;
  border-bottom: 0.5px solid rgb(193, 193, 193);

  h3 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0;
    padding-bottom: 5px;

    span {
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 20px;
      color: white;
    }
  }

  h4 {
    margin: 5px 0;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: rgb(0, 140, 255);
    }
  }

  .basicInfo {
    min-height: 100px;
    padding: 5px;
  }

  .basicInfo,
  .extendedInfo {
    display: inherit;
    flex-direction: column;
  }

  .extendedInfo {
    margin: 0 15px;

    & > div {
      padding-bottom: 5px;
      border-bottom: 0.5px solid rgb(193, 193, 193);

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    & > div > div {
      padding: 0 10px;
      font-size: 14px;
    }
  }

  .icons {
    margin: 5px;
    color: rgb(0, 140, 255);
  }

  .buttonContainer {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 10px;
    .btn {
      font-weight: 600;
      width: 30%;
      color: white;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(1.05);
      }
    }
    .editBtn {
      background-color: rgba(0, 140, 255, 0.8);
    }
    .delBtn {
      background-color: rgba(255, 0, 0, 0.8);
    }
  }

  &:hover {
    transform: scale(1.025);
    transition: transform 0.15s;
    background-color: rgba(0, 140, 255, 0.3);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}

.standardLi {
  height: 100px;
  animation: contractDiv 0.3s ease-in-out;
}

.expandedLi {
  height: 375px;
  animation: expandDiv 0.3s ease-in-out;
}

.modal {
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Hidden by default */
  justify-content: center;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2;
  // animation: fadeIn 0.25s ease-in-out;
  // animation-delay: 0.25s;

  .editForm {
    width: 90%;
    border-top: 5px solid rgb(0, 140, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 75px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    z-index: 3;
    animation: slideDown 0.25s ease-in-out;
    // animation-delay: 0.25s;

    h3 {
      margin: 0;
      font-size: 16px;
    }

    input,
    select {
      background-color: white;
      margin: 5px 0;
      width: 90%;
      border-radius: 5px;
      border-top: none;
      border-right: none;
      padding: 5px;
      border-bottom: 0.5px solid rgb(193, 193, 193);
      border-left: 0.5px solid rgb(193, 193, 193);
    }

    label {
      color: rgb(80, 80, 80);
      width: 90%;
      text-align: start;
    }

    button {
      margin: 10px 0;
      background-color: rgb(0, 140, 255);
      width: 70%;
      border-radius: 10px;
      color: white;
      font-weight: 700;
      padding: 5px;
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);

      &:hover {
        cursor: pointer;
      }

      &:active {
        background-color: rgb(0, 125, 227);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
        transition: transform 0.25s;
      }
    }

    .sectionLabel {
      font-size: 14px;
    }

    .subLabel {
      font-size: 12px;
    }
  }

  .modalHeader {
    height: 25px;
    img {
      position: absolute;
      width: 20px;
      top: 5px;
      right: 5px;

      &:hover {
        cursor: pointer;
        transform: scale(1.25);
        transition: transform 0.25s;
      }
    }
  }
}

.initialPosition {
  top: -500px;
}

.noDisplay {
  display: none;
  z-index: -1;
}
